.navbar-brand {
    font-size: 30px;
}

.row {
    margin-top: 10px;
}

.panel-heading {
    font-size: 24px;
    color: #777;
    text-align: center;
}

.form-horizontal {
    height: 315px;
}

.form-group {
    margin: 10px auto;
}

.form-control {
    width: 50%;
    margin: auto;
}

.col-md-6 {
    width: 100%;
}

.pagination {
    margin: auto;
}

#sort-by-date, #sort-by-email, #sort-by-user {
    padding: 0 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.sort {
    text-align: center;
    margin: -10px;
}

.note-text {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 15px;
}

.border {
    border-top: 1px solid #d3e0e9;
    margin: 15px -15px;
}

.g-recaptcha>div {
    margin: auto;
}

#email-error, #homepage-error {
    color: red;
    font-size: 14px;
}

.alert-success, .alert-danger {
    text-align: center;
    font-size: 18px;
    padding: 0;
    //width: 20%;
   // margin: 15px auto;
    border-radius: 0;
}